name: Build and test

on:
  push:
    branches:
      - 'v2'
      - 'feature/**'
      - 'fix/**'
      - 'master'
  pull_request:
    branches: [v2]

jobs:
  deploy_and_run:
    runs-on: ubuntu-18.04
    # defaults:
    #   run:
    #     working-directory: ./mdV2
    name: build
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Remove sensitive files
        run: rm -rf .git .github .gitignore
      - name: Install Dependencies
        run: yarn
      - name: Build
        run: yarn build
